<body link="#e65100" vlink="#e65100" alink="#e65100">

  <table class=" main contenttable" align="center"
    style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
    <tr>
      <td class="border"
        style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
        <table
          style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
          <tr>
            <td colspan="4" valign="top" class="image-section"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #e65100">
              <div>
                <a href="https://dailydosenow.com"><img class="top-image"
                    src="https://res.cloudinary.com/drewpager/image/upload/v1596204837/daily-dose/daily-dose-floating-head_lspi3a.png"
                    style="line-height: 1;width: 60px; margin: 5px; margin-left: 44%;" alt="dailydosenow logo"></a>
              </div>
            </td>
          </tr>
          <tr>
            <td valign="top" class="side title"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="head-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 28px;line-height: 34px;font-weight: bold; text-align: center;">
                    <div class="mktEditable" id="main_title">
                      Learn Something New Every Day.
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="sub-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;padding-top:5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 18px;line-height: 29px;font-weight: bold;text-align: center;">
                    <div class="mktEditable" id="intro_title">
                      
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                  </td>
                </tr>
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <a href="https://youtu.be/xE29z4hztbs">
                      <img class="top-image" src="https://res.cloudinary.com/drewpager/image/upload/v1598972204/daily-dose/daily-dose-video_edaqrz.png"
                        width="560" alt="38 second trailer for the Daily Dose free short history doc subscription service" /></a><br><br>
                      <!-- <strong>Trailer:</strong> Caecuss, Dabico xx, XXXX<br>
                      <strong>Time</strong>: 9:00 am &#8211; 4:00 pm<br><br> -->
                      <a style="color:#ffffff; background-color: #e65100;  border: 10px solid #e65100; border-radius: 3px; text-decoration:none;"
                        href="subscribe.dailydosenow.com">Watch Now</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                    <hr size="1" color="#eeeff0">
                  </td>
                </tr>
                <tr>
                  <td class="text"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                    <div class="mktEditable" id="main_text">
                      Learning something new every day just got easier with 3-minute history "micro-documentaries" from The Daily Dose. We would love it if you would consider <a href="subscribe.dailydosenow.com">subscribing to receive a daily educational email</a> at no charge, containing a new microlearning video every day, Monday through Friday only.<br><br>
                      Today on the Daily Dose, <b>Stealing Mona Lisa</b>:<br><br>
                      The Mona Lisa was stolen from the Louvre Museum in 1911, where the painting hung in relative obscurity in a backwater wing of the museum. Picasso was accused, Napoleon was accused, but Vincenzo Perugia was eventually caught for stealing the Mona Lisa.<br><br>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <a href="https://youtu.be/jaGlPehoAZQ">
                      <img class="top-image" src="https://res.cloudinary.com/drewpager/image/upload/v1599053857/daily-dose/stealing-the-mona-lisa_lbhrs4.png"
                        width="560" alt="3-minute video about the Mona Lisa being stolen" /></a><br><br>
                      <a style="color:#ffffff; background-color: #e65100;  border: 10px solid #e65100; border-radius: 3px; text-decoration:none;"
                        href="https://dailydosenow.com/stealing-mona-lisa/">Watch Now and Sign Up Free</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- <tr>
            <td style="padding:20px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;" align="center">
              <table>
                <tr>
                  <td align="center"
                    style="font-family: Arial, sans-serif; -webkit-text-size-adjust: none; font-size: 16px;">
                    <a style="color: #e65100;" href="{{system.forwardToFriendLink}}">Forward this Email</a>
                    <br /><span
                      style="font-size:10px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;">Please
                      only forward this email to colleagues or contacts who will be interested in receiving this
                      email.</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr> -->
          <tr>
            <td
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px; padding: 20px;">
              <div class="mktEditable" id="cta_try">
                <table border="0" cellpadding="0" cellspacing="0" class="mobile"
                  style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                  <tr>
                    <td class="force-col" valign="top"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">

                      <table class="mb mt"
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                        <tr>
                          <td class="grey-block"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #e65100; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">

                            <span
                              style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                              Sign Up Free</span><br>
                            Receive daily emails from us with a short history documentary in 3 minutes or less.<br><br>
                            <a style="color:#ffffff; background-color: #e65100;  border-top: 10px solid #e65100; border-bottom: 10px solid #e65100; border-left: 20px solid #e65100; border-right: 20px solid #e65100; border-radius: 3px; text-decoration:none;"
                              href="https://www.dailydosenow.com/">Sign Up</a>

                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="rm-col"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;padding-right: 15px;">
                    </td>
                    <td class="force-col" valign="top"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                      <table class="mb mt"
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                        <tr>
                          <td class="grey-block"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #e65100; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">

                            <span
                              style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                              YouTube Channel</span><br>
                            Receive notifications from YouTube when we publish new content.<br><br>
                            <a style="color:#ffffff; background-color: #e65100;  border-top: 10px solid #e65100; border-bottom: 10px solid #e65100; border-left: 20px solid #e65100; border-right: 20px solid #e65100; border-radius: 3px; text-decoration:none;"
                              href="https://www.youtube.com/channel/UCuYZAnKoZYXAKKpsi_-90Tg?sub_confirmation=1">Subscribe</a>

                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td valign="top" align="center"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
              
            </td>
          </tr>
          <tr bgcolor="#fff" style="border-top: 4px solid #e65100;">
            <td valign="top" class="footer"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="inside-footer" align="center" valign="middle"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
                    <div id="address" class="mktEditable">
                      <b>The Daily Dose</b><br>
                      1757 Playa Vista<br> San Marcos, CA 92078<br>
                      <a style="color: #e65100;" href="https://www.dailydosenow.com/">Unsubscribe</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>