<body link="#e65100" vlink="#e65100" alink="#e65100">

  <table class=" main contenttable" align="center"
    style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
    <tr>
      <td class="border"
        style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
        <table
          style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
          <tr>
            <td colspan="4" valign="top" class="image-section"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #e65100">
              <div>
              </div>
            </td>
          </tr>
          <tr>
            <td valign="top" class="side title"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="head-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 28px;line-height: 34px;font-weight: bold; text-align: center;">
                    <div class="mktEditable" id="main_title">
                      Learn Something New Every Day!
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="sub-title"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;padding-top:5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 18px;line-height: 29px;font-weight: bold;text-align: center;">
                    <div class="mktEditable" id="intro_title">
                      
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 5px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                  </td>
                </tr>
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <a href="https://youtu.be/xE29z4hztbs">
                      <img class="top-image" src="https://res.cloudinary.com/drewpager/image/upload/v1598972204/daily-dose/daily-dose-video_edaqrz.png"
                        width="560" alt="38 second trailer of what the Daily Dose is and why you should sign up"/></a><br><br>
                      <!-- <strong>Trailer:</strong> Caecuss, Dabico xx, XXXX<br>
                      <strong>Time</strong>: 9:00 am &#8211; 4:00 pm<br><br> -->
                      <a style="color:#ffffff; background-color: #e65100;  border: 10px solid #e65100; border-radius: 3px; text-decoration:none;"
                        href="subscribe.dailydosenow.com">Take a Peek at What We Do</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                    <hr size="1" color="#eeeff0">
                  </td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <a href="https://youtu.be/7bJ43t-bb0Q">
                      <img class="top-image" src="https://res.cloudinary.com/drewpager/image/upload/v1599053867/daily-dose/wine-windows_wzokrt.png"
                        width="560" alt="Italian server receives glass of red wine through a wine window brought back into service during COVID-19 from the black plague era"/></a><br><br>
                      <a style="color:#ffffff; background-color: #e65100;  border: 10px solid #e65100; border-radius: 3px; text-decoration:none;"
                        href="https://dailydosenow.com/wine-windows/">Watch Wine Windows Make a COVID Comeback</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- <tr>
            <td style="padding:20px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;" align="center">
              <table>
                <tr>
                  <td align="center"
                    style="font-family: Arial, sans-serif; -webkit-text-size-adjust: none; font-size: 16px;">
                    <a style="color: #e65100;" href="{{system.forwardToFriendLink}}">Forward this Email</a>
                    <br /><span
                      style="font-size:10px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;">Please
                      only forward this email to colleagues or contacts who will be interested in receiving this
                      email.</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr> -->
          <tr>
            <td
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px; padding: 20px;">
              <div class="mktEditable" id="cta_try">
                <table border="0" cellpadding="0" cellspacing="0" class="mobile"
                  style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                  <tr>
                    <td class="force-col" valign="top"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">

                      <table class="mb mt"
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                        <tr>
                          <td class="grey-block"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #e65100; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">

                            <span
                              style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                              Get your daily dose of bite-sized brilliance at no charge, Monday-Friday only</span><br>
                            <br><br>
                            <a style="color:#ffffff; background-color: #e65100;  border-top: 10px solid #e65100; border-bottom: 10px solid #e65100; border-left: 20px solid #e65100; border-right: 20px solid #e65100; border-radius: 3px; text-decoration:none;"
                              href="https://www.dailydosenow.com/">Subscribe</a>

                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="rm-col"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;padding-right: 15px;">
                    </td>
                    <td class="force-col" valign="top"
                      style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;">
                      <table class="mb mt"
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;margin-bottom: 15px;margin-top: 0;">
                        <tr>
                          <td class="grey-block"
                            style="border-collapse: collapse;border: 0;margin: 0;padding: 18px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 24px;background-color: #fff; border-top: 3px solid #e65100; border-left: 1px solid #E6E6E6; border-right: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; width: 250px; text-align: center;">

                            <span
                              style="font-family: Arial, sans-serif; font-size: 24px; line-height: 39px; border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559; text-align: center;font-weight: bold;">
                              </span>
                              WE ARE A GROUP OF FILMMAKERS AND EDUCATORS FOCUSED ON CREATING THREE-MINUTE MICROLEARNING FILMS TO HELP THE CURIOUS LEARN SOMETHING NEW EVERY DAY. COME JOIN OUR GROWING LEGION OF KNOWLEDGE SEEKERS:<br><br>
                            <a style="color:#ffffff; background-color: #e65100;  border-top: 10px solid #e65100; border-bottom: 10px solid #e65100; border-left: 20px solid #e65100; border-right: 20px solid #e65100; border-radius: 3px; text-decoration:none;"
                              href="https://dailydosenow.com">Join Us</a>

                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td valign="top" align="center"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
              
            </td>
          </tr>
          <tr bgcolor="#fff" style="border-top: 4px solid #e65100;">
            <td valign="top" class="footer"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background: #fff;text-align: center;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="inside-footer" align="center" valign="middle"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;">
                    <div id="address" class="mktEditable">
                      [COMPANY_FULL_ADDRESS]
                      <a style="color: #e65100;" href="[UNSUBSCRIBE_URL]">Unsubscribe</a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>